/** 
* Description: Sample theme for site which extends the Floyd grid-theme..
*/
@import url(../../../themes/grid/style.css);

html{background-color:#FFE2B3;}
body{background-color:#E5E7E1;}
#outer-wrap-header{background-color:#FFBAD2;border-bottom:2px solid #555}
#outer-wrap-footer{background-color:#FFBAD2;}
a{color:#000; font-family: Helvetica;}
a:hover{color: #444}
#navbar ul.menu li a{padding-bottom:3px;background-color:#FF00FF;border-bottom:none;border-color:#555;}
#navbar ul.menu li a.selected{padding-bottom:4px;background-color:#000;border-bottom:none;border-color:#FF00FF;color:#FF00FF;}
#navbar ul.menu li a.selected:hover{padding-bottom:4px;background-color:#000;border-bottom:none;border-color:#FF00FF;color:#FF00FF;}
#navbar ul.menu li a:hover{padding-bottom:3px;background-color:#000;border-bottom:none;border-color:#FF00FF;color:#FF00FF;}

#banner #site-title {
font-family: Helvetica;
text-shadow: none;
}

h1 , h2 , h3 , h4 , h5 , h6  { font-family: Helvetica;}